{% extends "base.html" %}

{% block page_content %}
<div class="container mt-5">
    <h1 class="mb-4">add_expense</h1>

    <!-- Formulário para adicionar despesas -->
    <form method="post" action="{% url 'add_expense' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="date">Data:</label>
            <input type="date" id="date" name="date" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="category">Categoria:</label>
            <select id="category" name="category" class="form-select" required>
                {% for choice in allowed_categories %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="amount">Valor:</label>
            <input type="number" id="amount" name="amount" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="description">Descrição:</label>
            <textarea id="description" name="description" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar Despesa</button>
    </form>

    <!-- Tabela de Despesas -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.date }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock page_content %}
